# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Environment files
.env
.env.*
!.env.example

# Version control
.git
.gitignore

# Dev tools
.eslintrc*
.prettierrc*

# Docs & misc
README.md
*.md
